.idea
*.iml
.git/
.gradle
gradle
out/
Dockerfile
# Игнорируем Go-кэш и временные файлы
*.out
*.test
*.log

# Игнорируем зависимости, если они не нужны для сборки внутри контейнера
/vendor/

# Игнорируем скрытые системные файлы
.DS_Store
Thumbs.db

# Игнорируем файлы и директории конфигурации IDE/редактора
.idea/
.vscode/
*.iml

# Игнорируем файлы сборки и бинарники
/bin
/build
/dist
main

# Игнорируем конфигурационные файлы и файлы окружения
config.yaml
secrets.yaml

# Игнорируем файловые артефакты системы контроля версий
.git
.gitignore
